header{
  
  height: 100px;
  width: 800px;
  background-color:pink;
}
nav{
  
  height:50px;
  width: 800px;
  background-color:#034444;
  
}
main{
  height:400px;
  width: 600px;
  background-color:#44dffc;
  
}

aside{
  height:400px;
  width: 200px;
  background-color:#03d99c;
  
  
}
footer{
  height:50px;
  width: 800px;
  background-color:#ccdffc;
  
  
}
#container{
  display:flex;
  
}



