#ruta1{
background-color: blue;
height: 100px;
width: 200px ; 
}
#ruta2{
background-color: pink;
height: 100px;
width: 200px ; 
position: relative;
}
#ruta3{
background-color: green;
height: 50px;
width: 50px ; 
position: absolute;
left:40px;
}